<p id="notice"><%= notice %></p>

<h1 style="padding-left: 45%; margin-top: 50px; font-size: 30px;">Series</h1>
<table class="ui definition table" style="margin-top: 50px;">
  <thead>
    <tr>
      <th>Serie</th>
      <th>Season</th>
      <th>Category</th>
      <th>Creator</th>
      <th>Description</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |serie| %>
      <%if !user_signed_in?%>
          <% if User.find(serie.user).admin %>
              <tr>
                <td><%= serie.name %></td>
                <td><%= serie.season %></td>
                <td><%= Category.find(serie.category).name %></td>
                <td><%= serie.description %> </td>
                <td> Admin </td>
              </tr>
            <%end%>

        <%elsif User.find(current_user.id).admin %>
            <tr>
              <td><%= serie.name %></td>
              <td><%= serie.season %></td>
              <td><%= Category.find(serie.category).name %></td>
              <td><%= serie.description %> </td>
              <td><%= User.find(serie.user).username %></td>
              <td><%= link_to 'Show', serie %> </td>
              <td><%= link_to 'Edit', edit_series_path(serie) %> </td>
              <td><%= link_to 'Destroy', serie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

      <% elsif User.find(serie.user).admin && current_user.id.to_s == serie.user%>
            <tr>
              <td><%= serie.name %></td>
              <td><%= serie.season %></td>
              <td><%= Category.find(serie.category).name %></td>
              <td><%= serie.description %> </td>
              <td><%= User.find(serie.user).username %></td>
              <td><%= link_to 'Show', series_path(serie) %> </td>
              <td><%= link_to 'Edit', edit_series_path(serie) %> </td>
              <td><%= link_to 'Destroy', serie, method: :delete, data: { confirm: 'Are you sure?' } %>
              </tr>
        <%elsif User.find(serie.user).admin  && current_user.id.to_s != serie.user%>
              <tr>
                <td><%= serie.name %></td>
                <td><%= serie.season %></td>
                <td><%= Category.find(serie.category).name %></td>
                <td><%= User.find(serie.user).username %></td>
                <td><%= serie.description %> </td>
                <td><%= link_to 'Show', serie %></td>
              </td>
        <%elsif current_user.id.to_s == serie.user %>
            <tr>
              <td><%= serie.name %></td>
              <td><%= serie.season %></td>
              <td><%= Category.find(serie.category).name %></td>
              <td><%= serie.description %> </td>
              <td><%= User.find(serie.user).username %></td>
              <td><%= link_to 'Show', serie %> </td>
              <td><%= link_to 'Edit', edit_series_path(serie) %> </td>
              <td><%= link_to 'Destroy', serie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

        

        <% end %>


      <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <% if user_signed_in? %>
    <div class="ui button" style="text-align: center; vertical-align: middle; margin-top: 30px; margin-left: 32.5%; width: 200px; height: 40px; background-color: lightgrey;">
        <%= link_to 'New Series', new_series_path %>
    </div>
  <%end%> 
  <div class="ui button" style="text-align: center; vertical-align: middle; margin-top: 30px; width: 200px; height: 40px; background-color: lightgrey;">
        <%= link_to 'Back', root_path %>
    </div>
  

</div>



